
body {
  background-color: lightgrey;
  color: #030303;
  margin: 0;
  padding: 0;
}
.header{
  text-align: left;
}
.header {
  padding: 15px;
}

.content {
  background-color: lightgrey;
  color: black;
  padding: 15px;
}

p {
  margin: 0 15px;
}
ul li {
  float: left;
  display: inline;
  margin: 15px;
}

p.class'exp' {
  font-size: 20px;
  font-weight: bold;
  margin: 25px;
}
